<p>{{ title }}</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Roll No</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let student of students">
            <td>{{ student.S_Id }}</td>
            <td>{{ student.S_Name }}</td>
            <td>{{ student.S_Age }}</td>
            <td>{{ student.S_Email }}</td>
        </tr>
    </tbody>
</table>